.logo-container{
    background: transparent;
}
.logoImg{
    width: 200px;
    margin-top: 40px;
    margin-left: -300px;
    cursor: pointer;
    height: auto;
}
.Logo-about{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: -50px;
    padding-top: 100px;
    justify-content: center;
    height: 410px;
    background: url(../../assets/header_background.jpg);
    
}

