@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Poppins:ital,wght@0,400;0,600;1,400&display=swap');
@import "./HomeCSS/NavBar.css";
@import "./HomeCSS/Logo.css";
@import "./HomeCSS/MainContainer.css";
@import "./HomeCSS/Slider.css";
@import "./HomeCSS/ProductInfo.css";
@import "../constants/Colors.css";
@import "./HomeCSS/Footer.css";
@import "./LoginCSS/MainContainerLogIn.css";
@import "./RegisterCSS/MainContainerRegister.css";

body, html{
  margin: 0;
  padding:0;
  scroll-behavior: smooth;
}
body>div {  
  margin: 0;
  padding:0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: rgb(53, 52, 52);
  font-family: 'Montserrat';
}






